@model IEnumerable<Library.Models.User>
@{
}

<h2>Bibliotekari</h2>

<table class="table">
    <thead>
        <tr>
            <th>Ime i prezime</th>
            <th>Email</th>
            <th>Tip korisnika</th>
            <th>zadnji pristup sistemu</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.UserType.Name</td>
                <td>@user.UserGender.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id">Izmeni</a> |
                    <a asp-action="Details" asp-route-id="@user.Id">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@user.Id">Izbrisi</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Dodaj bibliotekara</a>